:root {
  --background: #1e1e1e;
  --foreground: #d4d4d4;
  --prompt: #569cd6;
  --green: #0dbc79;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Consolas", "Menlo", "Courier New", monospace;
  font-size: 16px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.static-header {
  padding: 10px 20px;
  color: var(--green);
}
.static-header h1,
.static-header p {
  margin: 0;
}
.static-header h1 {
  font-size: 1.2rem;
}

.terminal {
  flex-grow: 1;
  overflow-y: auto;

  padding: 1px 20px 20px 20px;
  box-sizing: border-box;
  cursor: text;
}

.history-line {
  margin-bottom: 5px;
}

.input-line {
  display: flex;
}

.prompt-text {
  color: var(--prompt);
  margin-right: 8px;
}

.prompt-text span {
  color: var(--green);
}

.terminal-input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--foreground);
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.output-component ul {
  list-style-type: none;
  padding-left: 15px;
}
.output-component li {
  margin-bottom: 5px;
}
.output-component a {
  color: var(--green);
  text-decoration: none;
}
.output-component a:hover {
  text-decoration: underline;
}

.about-me-home-text {
  color: white;
}
